# Python virtual environment
venv
**/venv/**
venv/
venv/**
/venv
/venv/
/venv/**
.venv/
env/
ENV/
/.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Python build
build/
dist/
*.egg-info/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
# our files 
GameMode/
LearningMode/
main_menu.py
test_mic.py